TELEGRAM_BOT_TOKEN=coloque_aqui_o_token_do_bot
TELEGRAM_DEFAULT_CHAT_ID=7535235489
MERCADO_PAGO_ACCESS_TOKEN=coloque_aqui_o_access_token
MERCADO_PAGO_PUBLIC_KEY=coloque_aqui_a_public_key_opcional
MERCADO_PAGO_WEBHOOK_SECRET=coloque_aqui_um_segredo_para_validar_webhook
APP_BASE_URL=https://orcafacil-b771c.web.app
