node_modules/
.DS_Store
.env
.env.*
*.log
.keys/
**/.keys/
.firebase/
.firebaserc.local

functions/.env

# Build/produção
node_modules/
dist/
.env
.env.local
.env.production
functions/.env
*.log
*.map
.DS_Store
